body {
  background-image: url("https://static.pexels.com/photos/326311/pexels-photo-326311.jpeg");
}
.WillOne {
  float:left;
}
.CharlotteOne {
  float:left;
}
.LolaOne {
  float:left;
}
.WillTwo {
  float:left;
}
.LolaTwo {
  float:left;
}
.LolaThree {
  float:left;
}
.CharlotteTwo {
  float:left;
}
.LolaFour {
  float:left;
}
.CharlotteThree {
  float:left;
}
.WillThree {
  float:left;
}
